@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _accessor

@{ 
    LoginAuthorizeVM vm = _accessor.HttpContext.Session.GetObject<LoginAuthorizeVM>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DrinkServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <div>
            <ul>
                @if (vm.LookOrders_Place==true||vm.LookOrders_Proccess==true)
                {
                    <li>Orders</li>
                }

                @if (vm.LookInventory)
                {
                    <li>Inventory</li>
                }
                @if (vm.LookEntities)
                {
                    <li>Entities</li>
                }
                @if (vm.LookReports)
                {
                    <li>Reports</li>
                }
                @if (vm.LookSettings)
                {
                    <li>Settings</li>
                }
                @if (vm.LookAdmin)
                {
                    <li>Admins</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
