@model ProfilePasswordVM


<form asp-action="ChagePassword">

    <h3 class="mb-3">Change Password</h3>

    <input asp-for="UserId" hidden="hidden" />
    <div class="row g-1 mb-1">
        <label class="col-sm-2 col-form-label-sm" for="CurrentPassword">Current Password <span class="text-danger">*</span></label>
        <div class="col-sm-5">
            <input asp-for="CurrentPasswrod" type="password" class="form-control form-control-sm" id="CurrentPassword">
            <span asp-validation-for="CurrentPasswrod" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1 mb-1">
        <label class="col-sm-2 col-form-label-sm" for="NewPassword">New Password <span class="text-danger">*</span></label>
        <div class="col-sm-5">
            <input asp-for="NewPasswrod" type="password" class="form-control form-control-sm" id="NewPassword">
            <span asp-validation-for="NewPasswrod" class="text-danger"></span>
        </div>
    </div>

    <div class="row g-1">
        <label class="col-sm-2 col-form-label-sm" for="ConfirmPassword">Confirm Password <span class="text-danger">*</span></label>
        <div class="col-sm-5">
            <input asp-for="ComparePasswrod" type="password" class="form-control form-control-sm" id="ConfirmPassword">
            <span asp-validation-for="ComparePasswrod" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row mt-5">
        <div class="col">
            <a asp-action="Profile" asp-controller="Login" asp-route-id="@Model.UserId"
               class="btn btn-link me-3" role="button">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>

</form>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
